<!DOCTYPE html>
<html lang="kr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메이플 길드 매니저 :: 길드 설정</title>

</head>

<body>
    <h1>길드 설정</h1>

    <form action="/updateGuildSetting" method="post">

        <!-- 본캐 길드 ID 입력 -->
        <label for="mainGuildId">본캐 길드 ID:</label>
        <input type="text" id="mainGuildId" name="mainGuildId" required>

        <br>

        <!-- 부캐 길드 ID 입력 -->
        <label for=subGuildId">부캐 길드 ID:</label>
        <input type="text" id="subGuildId" name="subGuildId" required>

        <br>

        <!-- 폼 제출 버튼 -->
        <button type="submit">저장</button>
    </form>

</body>

</html>