table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
  }
  
  .rowClickable {
    cursor: pointer;
  }
  
  .rowSelected {
    background-color: #f0f0f0; /* 선택된 행의 배경색 */
  }