/* Header.module.css */

.container {
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px 10px; /* 좌우 패딩 추가 */
  background-color: #282A35; /* 배경색 설정 */
  color: white; /* 텍스트 색상을 흰색으로 설정 */
}

.logo {
  max-height: 50px;
  margin-right: 10px;
}

.link {
  text-decoration: none;
  color: inherit;
  margin-right: 10px;
}

.grow {
  flex-grow: 1;
}

.authLinks {
  display: flex;
  align-items: center;
}

.boldText {
  font-weight: bold;
  font-size: 15px; /* CSS에서는 'px' 단위를 명시해야 합니다. */
}