table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
  }
  
  .rowClickable {
    cursor: pointer;
  }
  
  .rowSelected {
    background-color: #f0f0f0; /* 선택된 행의 배경색 */
  }
  
  .row_17th {
    background-color: #e0e0e0; /* 17번째 행마다의 배경색 */
  }
  
  .table {
    width: 100%;
    table-layout: fixed;
  }
  
  .th1, .th3, .th4, .td1, .td3, .td4 {
    width: 20%;
  }
  
  .th2, .th5, .td2, .td5 {
    width: 20%;
  }

  .buttonStyle {
    padding: 10px 20px;
    background-color: #f5f5f5; /* 버튼 배경 색상 */
    color: black; /* 텍스트 색상 */
    border: none;
    border-radius: 5px; /* 버튼 모서리 둥글게 */
    cursor: pointer; /* 마우스 오버 시 커서 변경 */
    margin-bottom: 20px;
    font-size: 16px; /* 글꼴 크기 */
  }
  
  .buttonStyle:hover {
    background-color: rgb(168, 168, 168); /* 호버 시 배경 색상 변경 */
  }
  
  .custom-file-upload {
    display: inline-block; /* 라벨을 인라인 블록 요소로 설정 */
  }
  /* --------------------------------- */
  .filterContainer {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 8px;
  }
  
  .filterLabel {
    display: inline-block;
    width: 30%;
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
  }
  
  .filterInput {
    display: inline-block;
    width: 95%;
    padding: 8px 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* 패딩을 너비와 높이에 포함 */
  }
  
  .filterInput:focus {
    display: inline-block;
    width: 90%;
    border-color: #007bff;
    outline: none;
  }
  
  /* 구분자 스타일 */
  .filterSeparator {
    display: inline-block;
    text-align: center;
    margin: 10px 0;
  }

  .filtermenu{
    display: inline-block;
    width: 30%;
  }

  /* ---------------------------------------- */
  .buttonContainer{
    display: flex;
    justify-content: space-between;
  }

  .titleContainer{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color: #333;
    font-weight: bold;
  }